*{box-sizing: border-box;}
body {background-color:#fcebb6;
background-image:url("/lab 1/imaage/background.gif");
color:#221812;
font-style: italic;
font-family:'Times New Roman', Times, serif;}
header{background-color:#d2b48c;height: 150px;background-image: url("/lab 1/imaage/javajamlogo.jpg");background-repeat:no-repeat;}
h1{padding-top: 45px;padding-left:220px ;font-size:3em ;}
nav{text-align: center;font-weight: 1.5em;padding-top: 10px;float: left;width: 200px;}
nav a {text-decoration: none;}
nav li :link{color:#fef6c2 ;}
nav li :visited{color:#d2b48c ;}
nav li :hover{color: #cc9933;}
nav ul {list-style-type: none; padding-left: 0;}
footer{text-align:center;background-color: #d2b48c;
    font-size: small(0.60em);font-style: italic; text-align: center;padding: top 10px;border-top: solid 2px #221812;}
.xxx{text-align: center;}
dt{font-weight: bold;}
#wrapper{width: 80%;
margin-left: auto;
margin-right: auto;
background-color: #fef6c2; min-width: 900px; max-width: 1280px; box-shadow:5px 50px 18px #888888;background-color: #231814;}
h4{background-color: #d2b48c;font-size: 1.2em;padding-left: .5em;padding-bottom: .25em;text-transform: uppercase;padding-bottom: 0;border-bottom: 2px solid #231814;clear: left;}
.floatleft{float: left;padding-right: 2em;padding-bottom: 2em;}
main{padding-left: 0; ;padding-right: 0;padding-top: 0 ;margin-left: 200px;display: block;background-color:#fef6c2;}
.detail{padding-left:20% ;padding-right:20% ;overflow: auto;}
img{padding: left 10px; ;padding: right 10px;} 
#heroroad{background-image:url("/lab 1/imaage/heroroad.jpg"); background-size:100% 100%;height: 250px;}
#heromugs{background-image:url("/lab 1/imaage/heromugs.jpg"); background-size:100% 100%;height: 250px;}
#heroguitar{background-image:url("/lab 1/imaage/heroguitar.jpg"); background-size:100% 100%;height: 250px;}
main h2,main h3,main h4,main p,main div,main ul,main dl{padding-left: 3em; padding-right: 2em;}
header, nav, main, footer {display: block;}